# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Quarkus
.quarkus/

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-sublibs

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vim
*.swp
*.swo

# Logs
*.log
logs/

# Native image
*-runner
*-runner.exe
